<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap"
          rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/aside-filters.css">
  <link rel="stylesheet" href="/css/academias.css">

  <title>GuidesFit</title>
</head>
<body>
<div th:replace="/componentes/menu" ></div>

<div class="search-personal">
  <h1>Onde Gostaria de Treinar?</h1>

  <input type="search" placeholder="Digite aqui CEP, Cidade ou Bairro" id="search" name="search"/>

  <p style="margin-top: 7px">200 academias Encontradas</p>
</div>

<main>
  <aside>
    <div class="filters">
      <h4>Aplicar Filtros</h4>

      <div class="filter">
        <h6>Treinos de Muscalação e Condicionamento</h6>
        <div class="checkbox">
          <input type="checkbox" id="musculacao" />
          <label for="musculacao">Musculação</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="funcional" />
          <label for="funcional">Treino Funcional</label>
        </div>
      </div>
      <div class="filter">
        <h6>Cardio e Resistência</h6>
        <div class="checkbox">
          <input type="checkbox" id="resistencia" />
          <label for="resistencia">Spinning</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="hit" />
          <label for="hit">HIIT</label>
        </div>
      </div>
      <div class="filter">
        <h6>Bem-estar</h6>
        <div class="checkbox">
          <input type="checkbox" id="bem-estar" />
          <label for="bem-estar">Yoga</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="pilates" />
          <label for="pilates">Pilates</label>
        </div>
      </div>
      <div class="filter">
        <h6>Treinos para Hipertrofia e Perfomance</h6>
        <div class="checkbox">
          <input type="checkbox" id="hipertrofia" />
          <label for="hipertrofia">Hipertrofia Muscular</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="potencia" />
          <label for="potencia">Treinamento de Potência</label>
        </div>
      </div>
      <div class="filter">
        <h6>Treinos Específicos</h6>
        <div class="checkbox">
          <input type="checkbox" id="gestante" />
          <label for="gestante">Treino para Gestantes</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="idoso" />
          <label for="idoso">Treino para Idosos</label>
        </div>
      </div>

    </div>
  </aside>

  <section>
    <p th:if="${gyms.isEmpty()}" style="margin-top: 3em">
      Nenhuma Academia Encontrada!
    </p>

    <div class="gym-cards" >

      <div class="gym-card" th:each="gym : ${gyms}">
        <img
                src="/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
                alt="Imagem academia"
        />
        <div class="gym-info">
          <h4 th:text="${gym.nome}">Nome Academia</h4>
          <p th:text="${gym.endereco}">informações</p>
          <p th:text="${gym.activities}">informações</p>

          <button class="btn">Ver detalhes</button>
        </div>
      </div>
    </div>

  </section>


</main>

<div th:replace="componentes/rodape"></div>
</body>
</html>
