<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/rodape.css" />
    <link rel="stylesheet" href="/css/form.css" />

    <title>GuidesFit</title>
</head>
<body>
<div th:replace="componentes/menu"></div>

<main>
    <h3>
        Cadastro de Treino
    </h3>

    <form id="form">
        <div class="input">
            <label for="nome">Titulo do Treino</label>
            <input type="text" id="nome" name="nome" />
        </div>
        <div class="input">
            <label for="tipo">Tipo de treino</label>
            <input type="text" id="tipo" name="tipo" />
        </div>
        <div class="input">
            <label for="tempo">Duração</label>
            <input type="text" id="tempo" name="tempo" />
        </div>
        <div class="input">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" />
        </div>
        <div class="input">
            <label for="equipamentos">Equipamentos</label>
            <input type="text" id="equipamentos" name="equipamentos" />
        </div>
        <div class="input">
            <label for="repeticoes">Repetições</label>
            <input type="text" id="repeticoes" name="repeticoes" />
        </div>
        <div class="input">
            <label for="publico">Público Alvo</label>
            <input type="text" id="publico" name="publico" />
        </div>
        <div class="input">
            <label for="nivel">Nível de Dificuldade</label>
            <input type="text" id="nivel" name="nivel" />
        </div>
        <div class="input">
            <label for="description">Description</label>
            <textarea id="description" name="description"></textarea>
        </div>

        <div class="input">
            <label for="file">File</label>
            <input type="file" id="file" name="file">
        </div>

        <button type="submit" class="btn">Cadastrar</button>

        <p id="error" class="error-line"></p>
    </form>
</main>

<script>
    const form = document.getElementById('form');
    const pError = document.getElementById('error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const json = {};
        formData.forEach((vl, key) => json[key] = vl);

        const token = localStorage.getItem('token');
        const res = await fetch('/treino', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
            body: JSON.stringify(json)
        })

        const data = await res.json();

        if (res.status !== 200) {
            pError.textContent = 'Erro Ao cadastrar'
        }

        window.location.href = '/perfil-academias';
    })

</script>
</body>
</html>
