<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/rodape.css" />
  <link rel="stylesheet" href="/css/form.css" />

  <title>GuidesFit</title>
  </head>
  <body>
    <div th:replace="componentes/menu"></div>

    <main>
      <h3>
        Cadastro de Academias
      </h3>

      <form id="gymRegisterForm">
        <div class="input">
          <label for="nome">Nome da Academia</label>
          <input type="text" id="nome" name="nome" />
        </div>
        <div class="input">
          <label for="cnpj">CNPJ</label>
          <input type="text" id="cnpj" name="cnpj" />
        </div>
        <div class="input">
          <label for="social">Razão Social</label>
          <input type="text" id="social" name="social" />
        </div>
        <div class="input">
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" name="telefone" />
        </div>
        <div class="input">
          <label for="type">Tipo de Academia</label>
          <input type="text" id="type" name="type" />
        </div>
        <div class="input">
          <label for="modals">Modalidades Oferecidas</label>
          <input type="text" id="modals" name="modals" />
        </div>
        <div class="input">
          <label for="func">Horario de Funcionamento</label>
          <input type="text" id="func" name="func" />
        </div>
        <div class="input">
          <label for="price">Preços e Planos</label>
          <input type="text" id="price" name="price" />
        </div>
        <div class="input">
          <label for="telefone-out">Telefone Alternativo</label>
          <input type="text" id="telefone-out" name="telefone-out" />
        </div>
        <div class="input">
          <label for="site">Site(Opcional)</label>
          <input type="text" id="site" name="site" />
        </div>
        <div class="input">
          <label for="rede">Redes Sociais (Opcional)</label>
          <input type="text" id="rede" name="rede" />
        </div>
        <div class="input">
          <label for="endereco">Endereço Completo</label>
          <input type="text" id="endereco" name="endereco" />
        </div>
        <div class="input">
          <label for="city">Cidade</label>
          <input type="text" id="city" name="city" />
        </div>
        <div class="input">
          <label for="estado">Estado</label>
          <input type="text" id="estado" name="estado" />
        </div>
        <div class="input">
          <label for="pais">País</label>
          <input type="text" id="pais" name="pais" />
        </div>
        <div class="input">
          <label for="services">Serviços e estrutura</label>
          <input type="text" id="services" name="services" />
        </div>
        <div class="input">
          <label for="description">Description</label>
          <textarea id="description" name="description"></textarea>
        </div>
        <div class="input">
          <label for="file">File</label>
          <input type="file" id="file" name="file">
        </div>

        <button type="submit" class="btn">Cadastrar</button>

        <p id="error" class="error-line"></p>
      </form>
    </main>

  <script>
    const form = document.getElementById('gymRegisterForm');
    const pError = document.getElementById('error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const formData = new FormData(form);
      const json = {};
      formData.forEach((vl, key) => json[key] = vl);

      const token = localStorage.getItem('token');
      const res = await fetch('/academia', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
        body: JSON.stringify(json)
      })

      if (res.status !== 200) {
        pError.textContent = 'Erro Ao cadastrar'
        return;
      }

      window.location.href = '/perfil-academias';
    })

  </script>
  </body>
</html>
