<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/academias.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/rodape.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap" rel="stylesheet">
    <title>GuidesFit</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <div id="footer-placeholder"></div>
    <script src="../js/principal.js"></script>
  </body>
</html>