<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/form.css" />

    <title>Editar Dieta - GuidesFit</title>
</head>
<body>
<div th:replace="~{componentes/menu}"></div>

<div class="form-container">
    <h1>Editar Dieta</h1>

    <form id="dietaForm">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" placeholder="Nome da dieta" required th:value="${dieta.titulo}" />
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" name="descricao" placeholder="Detalhe os alimentos, rotina, etc." required
                      th:text="${dieta.descricao}"></textarea>
        </div>

        <div class="form-group">
            <label for="calorias">Calorias</label>
            <input type="number" name="calorias" id="calorias" min="0" required th:value="${dieta.calorias}"/>
        </div>

        <div class="form-group">
            <label for="objetivo">Objetivo</label>
            <select id="objetivo" name="objetivo" required>
                <option value="">Selecione</option>
                <option value="BULKING" th:selected="${dieta.objetivo == 'BULKING'}">Bulking (Ganho de peso)</option>
                <option value="CUTTING" th:selected="${dieta.objetivo == 'CUTTING'}">Cutting (Perda de peso)</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tipoDieta">Tipo de Dieta</label>
            <select id="tipoDieta" name="tipoDieta" required>
                <option value="">Selecione</option>
                <option value="BULKING" th:selected="${dieta.tipoDieta == 'BULKING'}">Bulking</option>
                <option value="CUTTING" th:selected="${dieta.tipoDieta == 'CUTTING'}">Cutting</option>
            </select>
        </div>

        <div th:if="${role == 'USERACAD'}">
            <input type="hidden" id="userAcadId" name="userAcadId" th:value="${user.id}" />
        </div>
        <div th:if="${role == 'PERSONAL'}">
            <input type="hidden" id="personalId" name="personalId" th:value="${user.id}" />
        </div>

        <input type="hidden" name="id" th:value="${dieta.id}">

        <div class="form-group">
            <button class="btn" type="submit">Salvar Dieta</button>
        </div>
    </form>
</div>

<div th:replace="~{componentes/rodape}"></div>

<script>
    const form = document.getElementById("dietaForm");

    form.addEventListener("submit", async function(event) {
        event.preventDefault();

        const token = localStorage.getItem('token');

        const formData = new FormData(form);
        const json = {};
        formData.forEach((vl, key) => json[key] = vl);

        const response = await fetch(`/dieta/${json.id}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                'Authorization': `Bearer ${token}`
            },
            body: JSON.stringify(json)
        });

        if (response.ok) {
            const location = response.headers.get("Location");
            window.location.href = location ? location : "/dietas";
        } else {
            alert("Erro ao salvar dieta. Verifique os dados e tente novamente.");
        }
    });
</script>
</body>
</html>
