<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/rodape.css" />
  <link rel="stylesheet" href="/css/form.css" />

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <title>GuidesFit</title>
</head>
<body>
<div th:replace="~{componentes/menu}"></div>

<main>
  <h3>
    Editar Treino
  </h3>

  <form id="form" class="">
    <div class="input">
      <label>Titulo do Treino</label>
      <input type="text" name="nome" th:value="${training.nome()}"/>
    </div>
    <div class="input">
      <label for="descricao">Description</label>
      <textarea id="descricao" name="descricao" th:value="${training.descricao()}"></textarea>
    </div>

    <input type="text" name="userId" th:value="${user.id}" style="display: none; opacity: 0; visibility: hidden">
    <input type="text" name="trainingId" th:value="${training.id()}" style="display: none; opacity: 0; visibility: hidden">

    <div id="formExercicios"></div>
    <button type="button" id="btnNovoExercicio" class="btn">Adicionar Exercicio</button>

    <button type="submit" class="btn">Editar</button>
  </form>

  <div>
    <p id="error" class="error-line"></p>
  </div>
</main>

  <script>
    const form = document.getElementById('form');
    const pError = document.getElementById('error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const wrapper = form.querySelectorAll('.exercicio-wrapper')
      const list = [];

      wrapper.forEach(vl => {
        const nome = vl.querySelector('input[name="nomeExercicio"]').value.trim();
        const series = parseInt(vl.querySelector('input[name="series"]').value);
        const repeticoes = parseInt(vl.querySelector('input[name="repeticoes"]').value);
        const grupoMuscular = vl.querySelector('select[name="grupoMuscular"]').value;

        // Validação básica (opcional)
        if (!nome || !series || !repeticoes || !grupoMuscular) {
          alert('Preencha todos os campos de todos os exercícios.');
          return;
        }

        list.push({ nome, series, repeticoes, grupoMuscular });
      })

      const formData = new FormData(form);
      const json = {};
      formData.forEach((vl, key) => json[key] = vl);

      json.exercicios = list;

      console.log(json);

      const token = localStorage.getItem('token');
      if (!token) {
        window.location.href = '/login';
        return;
      }

      const res = await fetch(`/treino/${json.trainingId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
        body: JSON.stringify(json)
      })

      const data = await res.json();

      if (res.status !== 200) {
        pError.textContent = data.message;
        return;
      }

      window.location.href = '/treinos';
    })

  </script>

  <script>
    const formExercicios = document.getElementById('formExercicios');
    const btnNovoExercicio = document.getElementById('btnNovoExercicio');

    btnNovoExercicio.addEventListener('click', (e) => {
      e.preventDefault();

      const wrapper = document.createElement('div');
      wrapper.classList.add('exercicio-wrapper', 'border', 'p-4', 'mb-4', 'relative', 'rounded', 'bg-gray-50');


      wrapper.innerHTML += `
        <div>
            <div>
            <label class="block font-medium">Nome do Exercício</label>
            <input type="text" name="nomeExercicio" required class="w-full border rounded p-2" />
          </div>

          <div>
            <label class="block font-medium">Séries</label>
            <input type="number" name="series" required class="w-full border rounded p-2" />
          </div>

          <div>
            <label class="block font-medium">Repetições</label>
            <input type="number" name="repeticoes" required class="w-full border rounded p-2" />
          </div>

          <div>
            <label class="block font-medium">Grupo Muscular</label>
            <select name="grupoMuscular" required class="w-full border rounded p-2">
              <option value="">Selecione</option>
              <option value="PEITO">Peito</option>
              <option value="COSTAS">Costas</option>
              <option value="PERNA">Perna</option>
              <option value="OMBRO">Ombro</option>
              <option value="BÍCEPS">Bíceps</option>
              <option value="TRÍCEPS">Tríceps</option>
            </select>
          </div>
          <button type="button" class="btnDeleteExercicio bg-red-100 mt-20 mb-20" >Deletar</button>
        </div>
      `;

      formExercicios.appendChild(wrapper);
    });

    formExercicios.addEventListener('click', (e) => {
      if (e.target.classList.contains('btnDeleteExercicio')) {
        e.preventDefault();

        const wrapper = e.target.closest('.exercicio-wrapper');
        if (wrapper) {
          wrapper.remove();
        }
      }
    });

  </script>
</body>
</html>
