<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/main/resources/statics/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/main/resources/statics/css/menu.css" />
    <link rel="stylesheet" href="/src/main/resources/statics/css/rodape.css" />
    <title>GuidesFit</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <section class="secao secao-branca">
      <div class="container">
        <div class="conteudo coluna">
          <div class="texto">
            <h2>Guides Fit - Seu Guia Completo para uma Vida Fitness!</h2>
            <p>
              Encontre as melhores academias, avalie estrutura e limpeza,
              descubra horários de pico, acesse treinos para iniciantes e
              conecte-se com profissionais capacitados. Tudo o que você precisa
              para manter sua rotina saudável em um só lugar! 💪🔥
            </p>
          </div>
          <div class="imagem">
            <img
              src="/src/main/resources/statics/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
              alt="Imagem academia"
              class="img-academia"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="secao secao-preta">
      <div class="container">
        <div class="conteudo-central">
          <h2>Onde gostaria de treinar?</h2>
          <div class="busca-academias">
            <a
              href="/src/main/resources/templates/paginas/academias.html"
              class="link-busca"
            >
              <img
                src="/src/main/resources/statics/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
                alt="Buscar academias"
                class="img-busca"
              />
              <div class="campo-busca">
                <span>Buscar academias</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.242 1.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"
                  />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="secao secao-branca-acesse-treinos">
      <div class="container">
        <div class="conteudo">
          <div class="texto">
            <h2>
              <strong>
                Acesse Treinos <br />
                & <br />
                Especialistas
              </strong>
            </h2>
            <p>
              <strong>Transforme</strong> a tarefa de uma
              <strong>vida saudável mais fácil!</strong>
            </p>
          </div>
          <div class="cards">
            <div class="card">
              <img
                src="/src/main/resources/statics/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
                alt="Treinos da Comunidade"
                class="card-img"
              />
              <div class="card-body">
                <h3>Treinos da Comunidade</h3>
                <a
                  href="/src/main/resources/templates/treinos_comunidade.html"
                  class="btn-card"
                  >Clique aqui</a
                >
              </div>
            </div>
            <div class="card">
              <img
                src="/src/main/resources/statics/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
                alt="Buscar por Especialistas"
                class="card-img"
              />
              <div class="card-body">
                <h3>Busque por Especialistas</h3>
                <a
                  href="/src/main/resources/templates/especialistas.html"
                  class="btn-card"
                  >Clique aqui</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="secao secao-preta-proprietario-acad">
      <div class="container">
        <div class="conteudo">
          <div class="texto">
            <h2>
              Dê mais<br />
              visibilidade a sua <br />
              academia
            </h2>
            <p>
              Registre-se e cadastre sua academia no <strong>GuidesFit</strong
              ><br />
              traga mais clientes do que nunca!
            </p>
          </div>
          <div class="cards">
            <div class="card">
              <img
                src="/src/main/resources/statics/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
                alt="Nome da Academia"
                class="card-img"
              />
              <div class="card-body">
                <h3>Nome da Academia</h3>
                <p>Rua Exemplo, 222 - Bairro - Cidade/UF</p>
                <a
                  href="/src/main/resources/templates/cadastro.html"
                  class="btn-card"
                  >Registre-se</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="secao-branca-personal">
      <div class="container">
        <div class="conteudo">
          <div class="texto">
            <h2>Você é Personal e gostaria de aumentar seus clientes?</h2>
            <p>
              Registre-se no <strong>GuidesFit</strong> para estar disponível
              para <strong>todos usuários</strong> do GuidesFit!
            </p>
          </div>
          <div class="card-personal">
            <div class="foto">
              <img
                src="/src/main/resources/statics/assets/imagens/fundo-de-cidade-demolido-de-darth-vader-4k-lrk5z7pw2kgpincr.webp"
                alt="Davi da Silva"
                class="img-personal"
              />
            </div>
            <div class="info">
              <h3>Davi da Silva</h3>
              <p>CREF4/SP: 123658</p>
              <p><strong>Especialidade:</strong> Musculação e Hipertrofia</p>
              <p>
                <strong>Descrição:</strong> Lorem ipsum dolor sit amet
                consectetur. A tortor in tortor ac eu maecenas ipsum libero.
                Faucibus imperdiet in praesent ullamcorper viverra cras molestie
                ultricies purus.
              </p>
              <a
                href="/src/main/resources/templates/cadastro.html"
                class="btn-card"
                >Registrar-se</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="secao-preta-sobre" class="secao-preta-sobre">
      <div class="container">
        <div class="conteudo">
          <div class="texto">
            <h2>Sobre</h2>
            <p>
              A Guides Fit é a sua plataforma completa para encontrar a academia
              ideal e alcançar seus objetivos fitness de forma inteligente! 🚀🏋️‍♂️
            </p>
          </div>
          <div class="info">
            <p><strong>Com a nossa solução, você pode:</strong></p>
            <ul>
              <li>Descobrir as melhores academias perto de você.</li>
              <li>Avaliar estrutura e limpeza antes de se matricular.</li>
              <li>Consultar horários de pico e evitar lotação.</li>
              <li>
                Acessar treinos personalizados para iniciantes e avançados.
              </li>
              <li>
                Conectar-se com personal trainers e especialistas do setor.
              </li>
            </ul>
            <p>
              <strong>Nosso objetivo</strong> é tornar sua experiência mais
              prática, ajudando você a manter uma rotina saudável com acesso
              rápido a informações essenciais. Seja qual for sua meta — perder
              peso, ganhar massa muscular ou melhorar sua qualidade de vida — a
              Guides Fit está aqui para te guiar no caminho certo!
            </p>
          </div>
        </div>
      </div>
    </section>

    <div id="footer-placeholder"></div>
    <script src="/src/main/resources/statics/js/principal.js"></script>
  </body>
</html>
