<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/rodape.css" />
  <link rel="stylesheet" href="/css/perfil.css" />

  <title>GuidesFit</title>
</head>
<body>
<div th:replace="componentes/menu"></div>
<main>
  <h2>Bem Vindo, <strong th:text="${user.nome}"></strong></h2>

  <section class="user-info">
    <div class="info">
      <p>
        <strong>Nome: </strong>
        <span th:text="${user.nome}"></span>
      </p>
    </div>
    <div class="info">
      <p>
        <strong>Email: </strong>
        <span th:text="${user.email}"></span>
      </p>
    </div>
    <div class="info">
      <p>
        <strong>Telefone: </strong>
        <span th:text="${user.telefone}"></span>
      </p>
    </div>
    <div class="info">
      <p>
        <strong>Tipo de Acesso: </strong>
        <span th:text="${user.role}"></span>
      </p>
    </div>
  </section>
  <div>
    <a href="#">Alterar Senha</a>
  </div>
  <div>
    <a href="/atualizar-usuario">Alterar Informações</a>
  </div>
</main>

<script>
</script>
</body>
</html>