<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/rodape.css" />
    <link rel="stylesheet" href="/css/perfil-academias.css" />

    <title>GuidesFit</title>
  </head>
  <body>
    <div th:replace="~{componentes/menu}"></div>
    <main>
      <h2>Bem Vindo, <strong th:text="${user.nome}"></strong></h2>

      <section class="user-info">
        <div class="info">
          <p>
            <strong>Nome: </strong>
            <span th:text="${user.nome}"></span>
          </p>
        </div>
        <div class="info">
          <p>
            <strong>Email: </strong>
            <span th:text="${user.email}"></span>
          </p>
        </div>
        <div class="info">
          <p>
            <strong>Telefone: </strong>
            <span th:text="${user.telefone}"></span>
          </p>
        </div>
        <div class="info">
          <p>
            <strong>Tipo de Acesso: </strong>
            <span th:text="${user.role}"></span>
          </p>
        </div>
      </section>
      <div>
        <a href="#">Alterar Senha</a>
      </div>
      <div>
        <a href="/atualizar-usuario">Alterar Informações</a>
      </div>

      <section class="academia-info">
        <div class="titles">
          <h3>
            Gerenciar Academias
          </h3>
          <a href="/cadastrar-academia">
            <button class="btn">
              Cadastrar Academia
            </button>
          </a>
        </div>
        <div th:if="${gyms.isEmpty()}">
          <p>Sem Academias Cadastradas!</p>
        </div>
        <div class="gym-cards" >

          <div class="gym-card" th:each="gym : ${gyms}">
            <img
                    src="https://st2.depositphotos.com/2586633/46477/v/450/depositphotos_464771766-stock-illustration-no-photo-or-blank-image.jpg"
                    alt="Imagem academia"
            />
            <div class="gym-info">
              <h4 th:text="${gym.nome}">Nome Academia</h4>
              <p th:text="${gym.endereco}">informações</p>
              <p th:text="${gym.activities}">informações</p>

              <a th:href="@{/academias/{id}(id=${gym.id})}">
                <button class="btn-link">Ver detalhes</button>
              </a>
              <button id="btnDelete" class="btn" style="background: red" th:value="${gym.id}">Deletar</button>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script>
      const btnDelete = document.getElementById('btnDelete');

      btnDelete.addEventListener('click', async (e) => {
        const id = e.target.value;
        const token = localStorage.getItem('token')
        const res = await fetch(`/academia/${id}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
          }
        })
        const data = res.json();
        console.log(data);

        if (res.status !== 200) {
          window.alert('Error');

          return;
        }

        window.location.reload();
      })
    </script>
  </body>
</html>