<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap"
          rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/aside-filters.css">
  <link rel="stylesheet" href="/css/personais.css">

  <title>GuidesFit</title>
</head>
<body>
<div th:replace="/componentes/menu" ></div>

<div class="search-personal">
  <h1>Personais</h1>
  <p>Busque por profissionais Qualificados</p>

  <input type="search" placeholder="Digite aqui CEP, Cidade ou Bairro" id="search" name="search"/>
</div>

<main>
  <aside>
    <div class="titles">
      <h2>Aplicar Fltros</h2>
      <p>Treinos de Musculação e Condicionamento</p>
    </div>

    <div class="filters">
      <h4>Aplicar Filtros</h4>

      <div class="filter">
        <h6>Treinos de Muscalação e Condicionamento</h6>
        <div class="checkbox">
          <input type="checkbox" id="musculacao" />
          <label for="musculacao">Musculação</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="funcional" />
          <label for="funcional">Treino Funcional</label>
        </div>
      </div>
      <div class="filter">
        <h6>Cardio e Resistência</h6>
        <div class="checkbox">
          <input type="checkbox" id="resistencia" />
          <label for="resistencia">Spinning</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="hit" />
          <label for="hit">HIIT</label>
        </div>
      </div>
      <div class="filter">
        <h6>Bem-estar</h6>
        <div class="checkbox">
          <input type="checkbox" id="bem-estar" />
          <label for="bem-estar">Yoga</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="pilates" />
          <label for="pilates">Pilates</label>
        </div>
      </div>
      <div class="filter">
        <h6>Treinos para Hipertrofia e Perfomance</h6>
        <div class="checkbox">
          <input type="checkbox" id="hipertrofia" />
          <label for="hipertrofia">Hipertrofia Muscular</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="potencia" />
          <label for="potencia">Treinamento de Potência</label>
        </div>
      </div>
      <div class="filter">
        <h6>Treinos Específicos</h6>
        <div class="checkbox">
          <input type="checkbox" id="gestante" />
          <label for="gestante">Treino para Gestantes</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="idoso" />
          <label for="idoso">Treino para Idosos</label>
        </div>
      </div>

    </div>
  </aside>

  <section>
    <p th:if="${personais.isEmpty()}" style="margin-top: 3em">
      Nenhum Personal Encontrado!
    </p>

    <div class="personais">

        <div class="personal" th:each="personal : ${personais}">
            <div class="personal-info">
              <img
                src="/assets/imagens/logo2.png"
                alt="Logo Guides Fit"
                class="img-logo"
              />
              <div class="personal-detalhes">
                <div>
                  <h5 th:text="${personal.nome}">Davi da Silva</h5>
                  <p>
                    <strong>CREF4/SP: </strong>
                    <span th:text="${personal.cref}"></span>
                  </p>
                </div>

                <p>
                  <strong>Telefone </strong>
                  <span th:text="${personal.telefone}"></span>
                </p>
              </div>
            </div>

            <p>
              <strong>E-mail: </strong>
              <span th:text="${personal.email}"></span>
            </p>

            <button class="btn">Entre em Contato</button>
        </div>

    </div>

  </section>


</main>

<div th:replace="componentes/rodape"></div>
</body>
</html>
