<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/aside-filters.css">
    <link rel="stylesheet" href="/css/treinos.css">

    <title>GuidesFit</title>
  </head>
  <body>
      <div th:replace="/componentes/menu" ></div>

      <main>
        <aside>
          <div class="titles">
            <h2>Treinos</h2>
            <p>Acesse a treinos cadastrados pela comunidade</p>
          </div>

          <div class="filters">
            <h4>Aplicar Filtros</h4>

            <div class="filter">
              <h6>Treinos de Muscalação e Condicionamento</h6>
              <div class="checkbox">
                <input type="checkbox" id="musculacao" />
                <label for="musculacao">Musculação</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="funcional" />
                <label for="funcional">Treino Funcional</label>
              </div>
            </div>
            <div class="filter">
              <h6>Cardio e Resistência</h6>
              <div class="checkbox">
                <input type="checkbox" id="resistencia" />
                <label for="resistencia">Spinning</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="hit" />
                <label for="hit">HIIT</label>
              </div>
            </div>
            <div class="filter">
              <h6>Bem-estar</h6>
              <div class="checkbox">
                <input type="checkbox" id="bem-estar" />
                <label for="bem-estar">Yoga</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="pilates" />
                <label for="pilates">Pilates</label>
              </div>
            </div>
            <div class="filter">
              <h6>Treinos para Hipertrofia e Perfomance</h6>
              <div class="checkbox">
                <input type="checkbox" id="hipertrofia" />
                <label for="hipertrofia">Hipertrofia Muscular</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="potencia" />
                <label for="potencia">Treinamento de Potência</label>
              </div>
            </div>
            <div class="filter">
              <h6>Treinos Específicos</h6>
              <div class="checkbox">
                <input type="checkbox" id="gestante" />
                <label for="gestante">Treino para Gestantes</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="idoso" />
                <label for="idoso">Treino para Idosos</label>
              </div>
            </div>

          </div>
        </aside>

        <section>
          <h3>Cadastre treinos para a Comunidade</h3>
          <a href="/cadastrar-treino">
            <button class="btn">Cadastrar Treino</button>
          </a>

          <p th:if="${trainings.isEmpty()}" style="margin-top: 3em">
            Nenhum Treino Encontrado
          </p>
          <div class="trainings">

            <div class="training" th:each="training : ${trainings}">
              <div>
                <h4 th:text="${training.nome}">Musculação</h4>
                <a href="#">
                  <button class="btn">Saber Mais</button>
                </a>
              </div>
              <p>Cadastro Por: </p>
              <p>
                <strong>Descrição: </strong>
                <span th:text="${training.descricao}">lorem ipsum dolor amte uahduiha ioasoidhjioasj</span>
              </p>
            </div>

          </div>
        </section>


      </main>

    <div th:replace="componentes/rodape"></div>
  </body>
</html>
