<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Title+Hero&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/aside-filters.css">
    <link rel="stylesheet" href="/css/treinos.css">

    <title>GuidesFit</title>
  </head>
  <body>
      <div th:replace="~{componentes/menu}"></div>

      <main>
        <aside>
          <form method="get" action="/treinos">
            <div class="filters">

              <h4>Aplicar Filtros</h4>

              <div class="filter">
                <h6>Treinos de Muscalação e Condicionamento</h6>
                <div class="checkbox">
                  <input type="checkbox" id="musculacao" name="musculacao" value="true"/>
                  <label for="musculacao">Musculação</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="funcional" name="funcional" value="true" />
                  <label for="funcional">Treino Funcional</label>
                </div>
              </div>
              <div class="filter">
                <h6>Cardio e Resistência</h6>
                <div class="checkbox">
                  <input type="checkbox" id="resistencia" name="resistencia" value="true" />
                  <label for="resistencia">Spinning</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="hit" name="hit" value="true" />
                  <label for="hit">HIIT</label>
                </div>
              </div>
              <div class="filter">
                <h6>Bem-estar</h6>
                <div class="checkbox">
                  <input type="checkbox" id="bem-estar" name="bem-estar" value="true"/>
                  <label for="bem-estar">Yoga</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="pilates" name="pilates" value="true" />
                  <label for="pilates">Pilates</label>
                </div>
              </div>
              <div class="filter">
                <h6>Treinos para Hipertrofia e Perfomance</h6>
                <div class="checkbox">
                  <input type="checkbox" id="hipertrofia" name="hipertrofia" value="true" />
                  <label for="hipertrofia">Hipertrofia Muscular</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="potencia" name="potencia" value="true" />
                  <label for="potencia">Treinamento de Potência</label>
                </div>
              </div>
              <div class="filter">
                <h6>Treinos Específicos</h6>
                <div class="checkbox">
                  <input type="checkbox" id="gestante" name="gestante" value="true" />
                  <label for="gestante">Treino para Gestantes</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" id="idoso" name="idoso" value="true" />
                  <label for="idoso">Treino para Idosos</label>
                </div>
              </div>

            </div>

            <div class="buttons">
              <button class="btn" type="submit">Aplicar Filtros</button>
              <button class="btn" id="reset">Limpar Filtros</button>
            </div>
          </form>
        </aside>

        <section>
          <h3>Cadastre treinos para a Comunidade</h3>
          <button type="button" id="btn-register">
            cadastrar treino
          </button>

          <p th:if="${trainings.isEmpty()}" style="margin-top: 3em">
            Nenhum Treino Encontrado
          </p>
          <div class="trainings">

            <div class="training" th:each="training : ${trainings}">
              <div>
                <h4 th:text="${training.nome}">Musculação</h4>
                <button class="btn btnEditar" th:value="${training.id}" >Editar</button>
                <button class="btnDelete btn" style="background: red" th:value="${training.id}">Deletar</button>
              </div>
              <p>Cadastro Por: </p>
              <p>
                <strong>Descrição: </strong>
                <span th:text="${training.descricao}">lorem ipsum dolor amte uahduiha ioasoidhjioasj</span>
              </p>
            </div>

          </div>
        </section>
      </main>

    <div th:replace="~{componentes/rodape}"></div>

  <script>
    document.querySelector('#reset').addEventListener('click', (e) => {
      e.preventDefault();

      window.location = '/treinos';
    })

    const btnDelete = document.querySelectorAll('.btnDelete');
    const btnEditar = document.querySelectorAll('.btnEditar');
    const btnRegister = document.querySelector('#btn-register');
    const token = localStorage.getItem('token');

    btnEditar.forEach(btn => {
      btn.addEventListener('click', async (e) => {
        const id = e.target.value;
        document.cookie = `token=${token}`;

        window.location.href = `treinos/${id}`;
      })
    });

    btnRegister.addEventListener('click', (e) => {
      e.preventDefault();
      console.log('FOI')
      document.cookie = `token=${token}`;

      window.location.href = "cadastrar-treino";
    })

    btnDelete.forEach(btn => {
      btn.addEventListener('click', async (e) => {
        const id = e.target.value;
        const res = await fetch(`/treino/${id}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
          }
        })
        const data = res.json();

        if (res.status !== 200) {
          window.alert('Error');

          return;
        }

        window.location.reload();
      })
    })
  </script>
  </body>
</html>
