<html xmlns:th="http://www.thymeleaf.org">
<header>
  <div class="logo">
    <a th:href="@{/}" id="home-link">
      <img
        src="/assets/imagens/logo2.png"
        alt="Logo Guides Fit"
        style="height: 100px; width: auto"
      />
    </a>
  </div>

  <div class="nav">
    <nav>
      <ul class="menu-links">

      </ul>
    </nav>
  </div>

  <div class="nav-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-small-views hidden">
    <nav>
      <ul class="menu-links">
      </ul>
    </nav>
  </div>
</header>

<script defer type="module">
  const navIcon = document.querySelector('.nav-icon');
  const navSmallView = document.querySelector('.nav-small-views');
  const liLinkLogin = document.querySelector('.link-login');
  const liLinkLogout = document.querySelector('.link-logout');
  const menuLinks = document.querySelector('.menu-links');

  navIcon.addEventListener('click', (e) => {
    if (window.innerWidth <= 677) {
      navSmallView.classList.toggle('flex-column');
      navSmallView.classList.toggle('hidden');
    }
  })

  const token = localStorage.getItem('token');
  // if (!token) {
  //   liLinkLogin.innerHTML = `
  //       <a href="/login" id="login-link"><button class="btn">Login</button></a>
  //   `
  //   liLinkLogout.innerHTML = `
  //       <a href="/cadastro" id="cadastro-link"><button class="btn">Registrar-se</button></a>
  //   `
  // } else {
  //   liLinkLogin.innerHTML = `
  //         <button class="btn" id="perfil-btn">Meu Perfil</button>
  //   `
  //   liLinkLogout.innerHTML = `
  //       <button class="btn" id="logout-btn">Logout</button>
  //   `
  // }

  if (!token) {
    menuLinks.innerHTML = `
      <li><a href="/">Home</a></li>
      <li><a href="/academias">Academias</a></li>
      <li><a href="/login" id="login-link"><button class="btn">Login</button></a></li>
      <li><a href="/cadastro" id="cadastro-link"><button class="btn">Registrar-se</button></a></li>
    `;
  } else {
    menuLinks.innerHTML = `
      <li><a href="/">Home</a></li>
      <li><a href="/academias">Academias</a></li>
      <li><a href="/treinos">Treinos</a></li>
      <li><a href="/personais">Personais</a></li>
      <li><button class="btn" id="perfil-btn">Meu Perfil</button></li>
      <li class="link-logout"><button class="btn" id="logout-btn">Logout</button></li>
    `;
  }

  document.getElementById('logout-btn').addEventListener('click', logout);
  document.getElementById('perfil-btn').addEventListener('click', goToProfile);

  function logout() {
    localStorage.removeItem('token');
    document.cookie = `token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC;`;
    window.location.href = '/login';
  }

  function goToProfile() {
    document.cookie = `token=${token}; path=/;}`;

    window.location.href = '/perfil';
  }
</script>
