<nav class="menu">
  <div class="logo">
    <a href="/src/main/resources/templates/paginas/index.html" id="home-link">
      <img
        src="/src/main/resources/statics/assets/imagens/logo2.png"
        alt="Logo Guides Fit"
        style="height: 100px; width: auto"
      />
    </a>
  </div>
  <div class="nav-links">
    <a
      href="/src/main/resources/templates/paginas/academias.html"
      id="academias-link"
      >Academias</a
    >
    <a
      href="/src/main/resources/templates/paginas/treinos.html"
      id="treinos-link"
      >Treinos</a
    >
    <a
      href="/src/main/resources/templates/paginas/personais.html"
      id="personais-link"
      >Personais</a
    >
    <a
      href="/src/main/resources/templates/paginas/index.html#secao-preta-sobre"
      id="sobre-link"
      >Sobre</a
    >
    <a href="/src/main/resources/templates/paginas/login.html" id="login-link"
      ><button class="btn">Login</button></a
    >
    <a
      href="/src/main/resources/templates/paginas/cadastro.html"
      id="cadastro-link"
      ><button class="btn">Registrar-se</button></a
    >
  </div>
</nav>
