<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img
          src="/src/main/resources/statics/assets/imagens/logo2.png"
          alt="GuidesFit Logo"
        />
      </div>

      <div class="footer-info">
        <p>Desenvolvido por:</p>
        <p>Dheric Tadeu da Silva | Davi da Silva | Guilherme Pereira Matos</p>
        <p>
          Contato:
          <a href="mailto:guidesfitSAC@gmail.com">guidesfitSAC@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
