<footer>
  <div class="footer-logo">
    <img
      src="/assets/imagens/logo2.png"
      alt="GuidesFit Logo"
    />
  </div>

  <div class="footer-icons">
    <h5>Acompanhe o GuidesFit Nas Redes</h5>
    <span></span>
    <span></span>
    <span></span>

  </div>

  <div class="footer-info">
    <div>
      <p>Desenvolvido por:</p>
      <ul>
        <li>Dheric Tadeu da Silva</li>
        <li>Davi da Silva</li>
        <li>Guilherme Pereira Matos</li>
      </ul>
    </div>
    <span class="footer-divider"></span>
    <div>
      <p>
        Contato:
        <a href="mailto:guidesfitSAC@gmail.com">guidesfitSAC@gmail.com</a>
      </p>
    </div>
  </div>
</footer>
