.search-personal {
  padding: 3em 3em 0 3em;
}

.search-personal input {
  margin-top: 2em;
  width: 100%;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 0.8em;
}

.search-personal input:focus {
  border: 1px solid gray;
}

main > section {
  width: 100%;
}

main .gym-cards {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 25px;
}

main .gym-cards .gym-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main .gym-cards .gym-card img {
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}

main .gym-cards .gym-card .gym-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 12px;
}
