main {
    display: flex;
    flex-direction: row;
    gap: 8em;
    padding: 3em;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 34em;
}

aside .titles h2 {
    font-size: 3em;
    margin-bottom: .3em;
}

aside .filters {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

aside .filters .filter {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

aside .filters .filter h6 {
    font-size: 1em;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
}
.checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox label {
    position: relative;
    padding-left: 2.2em;
    display: inline-block;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    background: #FFF;
    margin-right: 0.5em;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.checkbox label::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 0.75em;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
}
.checkbox label:focus::before, .checkbox label:hover::before {
    background: #DDD;
}
.checkbox input:checked + label::before {
    background: #ff7212;
    border-color: #ff7212;
}
.checkbox input:checked + label::after {
    opacity: 1;
}