.left-side {
  background-color: #000;
  color: #fff;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side h1 {
  font-size: 4vw;
  margin-bottom: 15px;
}

.left-side p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}



.sign-in-btn:hover {
  background-color: #fff;
  color: #000;
}

.form-container {
  max-width: 500px;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.checkbox-label {
  font-size: 0.9rem;
}

.checkbox-label a {
  color: #3b0ca3;
  text-decoration: none;
}

.checkbox-label a:hover {
  text-decoration: underline;
}

