main {
    width: 100%;
    padding: 4em;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.main-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-left h2 {
    margin-bottom: 0.5em;
}

.main-left img {
    width: 100%;
    height: 464px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    object-fit: cover;
}

.main-left .range {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    justify-items: center;
    align-items: center;
}

.main-left .range h4 {
    font-size: 1.4em;
}

.main-right {
    width: 50%;
    padding: 2em;
    border: 1px solid black;
    height: max-content;
}

.main-right .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
}

.main-right .container > div {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.main-right .container > div p {
    margin-right: 10%;
}

@media (max-width: 967px) {
    .main {
        flex-direction: column;
    }

    .main-right {
        width: 100%;
    }

    .main-left {
        width: 100%;
    }
}
