main {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 35px;
    row-gap: 25px;
}

main form .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main form .input input,textarea {
    padding: 7px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgray;
}


main form .input input:focus, textarea:focus {
    border: 1px solid darkgray;
}

