.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .btn {
    background: #333;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
  }

  .menu-icon {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .menu-icon span {
    display: inline-block;
    width: 30px;
    height: 4px;
    background: red;
  }
  


/*new*/
header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  gap: 30px;
}

nav ul a {
  color: black;
}

.nav-small-views {
  position: absolute;
  top: 100px;
  left: 0;
  background: inherit;
  width: 100%;
  z-index: 50;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-small-views nav {
  width: 100%;
  text-align: center;
}

.nav-small-views nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
}

.nav-small-views nav ul li {
  width: 100%;
  text-align: center;
  justify-items: center;
}

.nav-icon {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.nav-icon span {
  background: black;
  width: 34px;
  height: 4px;
}

@media (max-width: 677px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .nav nav {
    display: none;
  }

  .nav-icon {
    display: flex;
  }
}

@media screen and (min-width: 678px) {
  .nav-small-views {
    display: none !important;
  }
}