/*trainings*/

main > section {
    width: 100%;
    text-align: center;
}

main > section > h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.trainings {
    margin-top: 3em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4em;
}

.training {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.training > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.training > p {
    text-align: left;
}

@media (max-width: 805px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}